# Includes system specific configurations that can't be ported to all plataforms.
# This means you can have different configs for *NIX systems and Windows without conflicts.
[include]
  path = ~/.config/git/system.inc

[user]
  email = 13930952+thiagomajesk@users.noreply.github.com
  name = thiagomajesk

[safe]
  directory = *

[push]
  default = simple
  followTags = true

[status]
  showUntrackedFiles = all

[alias]
  b = branch
  f = fetch
  s = status
  c = commit
  co = checkout
  lo = log --pretty=format:\"%C(brightBlack) ╭─ %C(auto)%h %C(italic cyan)(%ar)%C(reset) %C(245)%m %cN%C(auto)%d%C(reset)%n %C(brightBlack)╰─%C(brightBlack) %s\"

[rerere]
  enabled = true
	
[column]
  ui = auto,column

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
